beautifulsoup4==4.12.3
folium==0.14.0
geopy==2.3.0
gTTS==2.5.0
matplotlib==3.8.1
meteostat==1.6.5
openmeteo_requests==1.2.0
#pandas==1.4.4
pandas
plotly==5.18.0
prophet==1.1.1
python-dotenv==1.0.1
python_weather==1.1.0
pytz==2021.3
requests==2.28.2
requests_cache==1.2.0
retry_requests==2.0.0
reverse_geocoder==1.5.1
seaborn==0.11.2
statsmodels==0.13.2
#streamlit==1.28.1
streamlit
streamlit_datalist==0.0.5
streamlit_folium==0.13.0
streamlit_js_eval==0.1.5
streamlit_option_menu==0.3.2
suntime==1.2.5
timezonefinder==6.4.1
